Sublime Text 2/Packages/User/Package Control.last-run
Sublime Text 2/Packages/User/Package Control.ca-list
Sublime Text 2/Packages/User/Package Control.ca-bundle
Sublime Text 2/Packages/User/Package Control.system-ca-bundle
Sublime Text 2/Packages/User/Package Control.cache/
Sublime Text 2/Packages/User/Package Control.ca-certs/